.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 5px;
}

.main-nav h2 {
  padding: 10px;
}

.dark.main-nav {
  color: white;
  background-color: black;
}

.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-weight: 600;
}

.nav-items > li {
  padding: 20px;
  cursor: pointer;
}

.main-nav > h3 {
  margin-right: auto;
  padding-top: 15px;
}

.toggler {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler--dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
