.meme-input-form {    
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    margin: 15px;
    gap: 15px;
} 

input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.new-image-btn {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border-radius: 5px;
    color: white;
    grid-column: 1 / -1;
    border: none;
    cursor: pointer;
}

.meme-image {
    width: 100%;
}

.meme-text {
    position: absolute;
    left: 50%;
    font-family: impact;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0px 2px 0 #000,
        2px 0px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 2px 5px #000;
    transform: translate(-50%, 0);
}

.meme-container {
    position: relative;
}

.upper-text {
    top: 0;
}

.lower-text {
    bottom: 0;
}
