.meme-header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.meme-title {
    margin-right: auto;
}
