.meme-input-form {    
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    margin: 15px;
    gap: 15px;
} 

input {
    padding: 5px;
}

button {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border-radius: 5px;
    color: white;
    grid-column: 1 / -1;
}
