.item-list {
    display: block;
    text-align: center;
}

.counter-button {
    margin: 5px;
}

.squares-container {
    margin-top: 20px;
}

.toggle-button {
    margin-top: 20px;
}

.name-form {
    margin-top: 20px;
}
