.item-list {
    display: block;
    text-align: center;
}

.counter-button {
    margin: 5px;
}

.squares-container {
    margin-top: 20px;
}

.toggle-button {
    margin-top: 20px;
}

.name-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.name-form > input, textarea {
    padding: 10px;
    margin: 2px;
}
