div.die {
    color: black;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    font-size: 2rem;
}

div.hold {
    border: 1px solid green;
    background-color: limegreen;
}

div.die:hover {
    border-color: green;
}

div.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.two {
    display: flex;
    justify-content : space-between;
}

.dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:black;
}

/* Die CSS Source: https://betterprogramming.pub/creating-dice-in-flexbox-in-css-a02a5d85e516 */
