.board {
    max-width: 650px;
    height: 400px;
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.dice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.roll {
    max-height: 40px;
    margin: 10px;
}

p.target {
    color: black;
}
