.board {
    max-width: 650px;
    height: 400px;
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dice {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.roll-btn {
    height: 45px;
    width: 45px;
    margin: 10px;
    color: white;
    background-color: green;
    border-color: green;
    border-width: thick;
    border-radius: 5px;
}

.roll-btn:hover {
    border-color: darkgreen;
}

p.target {
    color: black;
    font-size: 2em;
}
