.board {
    max-width: 650px;
    height: 400px;
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dice {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.roll-btn {
    height: 45px;
    width: 45px;
    margin: 10px;
    color: white;
    background-color: green;
    border-color: green;
    border-width: thick;
    border-radius: 5px;
}

.roll-btn:hover {
    border-color: darkgreen;
}

.roll-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.reset-btn {
    height: 45px;
    width: 65px;
    margin: 10px;
    color: white;
    background-color: blue;
    border-color: blue;
    border-width: thick;
    border-radius: 5px;
}

.reset-btn:hover {
    border-color: darkblue;
}

.resset-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

p.message {
    color: black;
    font-size: 2em;
}

p.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    color: black;
}
