.vrbo-card {
    margin: auto;
    font-size: 12px;
    position: relative;
}

.card-photo {
    width: 200px;
    height: 275px;
    border-radius: 10px;
}

.card-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-star {
    height: 10px;
}

.badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
