.vrbo-card {
    margin: auto;
    font-size: 12px;
}

.card-photo {
    width: 200px;
}

.card-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-star {
    height: 10px;
}
