.vrbo-nav {
    color: red;
    margin-top: 10px;
    display: flex;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.vrbo-logo {
    height: 40px;
    max-width: 70px;
    padding: 26px 36px;
}
