.split {
    display: flex;
}

.pane {
    overflow-y: auto;
}

.no-notes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.dark-mode .no-notes {
    background-color: black;
}
